/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .home-container {
  position: relative;
  top: 100px;
}


 body {
  overflow: hidden;   /* ← スクロール禁止 */
  margin: 0;
  min-height: 100vh;

  background-image: url("background5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: sans-serif;
}

.home-container {
  position: fixed;        /* 白い枠を固定 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgba(255,255,255,0.75);
  width: 600px;
  height: 70vh;           /* ← 固定高さ（重要） */
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  overflow-y: auto;       /* ← 中身だけスクロール */
  overflow-x: hidden;
}


.home-container h1 {
  font-size: 40px;
}

.home-container p {
  font-size: 22px;
}

.home-container input,
.home-container button,
.home-container a {
  font-size: 18px;
}

.game{
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center; /* 横中央 */
  align-items: center;     /* 縦中央 */

  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
