body {
  background-image: url("background.png");
  background-size: cover;          /* 画面いっぱい */
  background-position: center;     /* 中央に表示 */
  background-repeat: no-repeat;    /* 繰り返さない */
  background-attachment: fixed;    /* スクロールしても固定 */

  margin: 0;
  min-height: 100vh;
}

/* 文字を見やすくする */
.game-container{
  background: rgba(255,255,255,0.75);
  width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}